/* ==================================================
=	Responsive Mobile-first Media Queries	=
===================================================== */
@media screen and (max-width : 1366px) {
}
/* --------------------------------------------------------------- max1280px ---------------------- */
@media screen and (max-width : 1280px) {
}
@media screen and (max-width : 1200px) {
}
@media screen and (max-width : 1199px){
}
/* --------------------------------------------------------------- max1024px ---------------------- */
@media screen and (max-width : 1024px) {
}
/* --------------------------------------------------------------- max992px ---------------------- */
@media screen and (max-width : 992px) {
	.pfolio-about-img{
		margin: 50px auto 0 auto;
	}
	.default-menu.affix .navbar-brand {
		max-width: 100px;padding: 0; margin: 0 !important;
		margin-left: 15px !important;
	}
	.default-menu.affix-top .navbar-brand{
		padding: 0; margin: 0 !important;
		max-width: 110px;
	}
}
/* --------------------------------------------- min992px to max1100px+ ------------------------------------------------- */
@media (min-width : 992px) and (max-width: 1366px){
	.portfolio-edu-img{ margin-top: 0; }
}
@media (min-width : 992px) and (max-width: 1141px){
	.portfolio-edu-text{ padding-left:  230px;}
	.portfolio-edu-text .edu-text-single{ padding-left: 10px; }
}
@media (min-width : 992px) and (max-width: 1200px){
	.portfolio-about-info li span{ width: 40%; }
	.portfolio-about-info .pfolio-btn{ margin-left: 0; }
	.portfolio-blog-single .post-content { margin-top: 20px; }
}
@media (min-width : 993px) and (max-width: 1200px){
}
/* -------------------------------------------------------- max991px -------------------- */
/* -------------------------------------------------------------------------------------- */
@media screen and (max-width : 991px) {
	/* ---------------------------------------------------------------------------*/
	.pfolio-about-img{ max-height: 860px; }
	.portfolio-edu-img{ margin: 70px auto 0 auto; }
	.portfolio-edu-text{ max-width: 950px; margin: 0 auto; padding: 60px; }
	.portfolio-blog-single { margin-top: 0px; }
	.portfolio-blog-single .post-content{ margin: 50px 0; }
	.portfolio-contact-content{  
		max-width: 900px;
		margin: 0 auto;
		margin-top: 100px;
		padding: 100px 30px 30px 30px;
	}
	
.pfolio-blog-author .info { margin-left: 0; margin-top: 100px;}
	/* ---------------------------------------------------------------------------*/
	/* ------------------------------------------------------------------------------- */
	.default-about-image{ max-width: 400px; margin: 50px; }
	.default-counter{background: url(../../assets/images/default/counter-bg-l.jpg) no-repeat center center / cover;}
	.default-contact-address .contact-address .address-single {margin: 0 auto;}
	.default-contact-form .contact-form{ margin-left: 15px; margin-right: 15px; }	
	.sub-form{ margin-top: 20px; }
	/*-------Blog Sidebar calendar -----*/
	#wp-calendar td {padding:6px;}
	.pfolio-sidebar{margin-left: 20px;}
/*------- Special Character Css  -----*/
.pfolio-blog-posts tr td{border: 1px solid #ccc; padding:5px 15px;}
}
/* ------ end max991px ------- */
/* --------------------------------------------------------------- min992px ---------------------- */
@media (min-width : 992px) {
}
@media screen and (min-width : 992px) {	
	.contact-form [class*="col-md-"],
	.contact-form [class^="col-md-"]{padding-left: 0;}
}
@media screen and (max-width : 855px) {
}
/* --------------------------------------------------------------- max768px ---------------------- */
@media screen and (max-width : 768px) {	
}
/* ------ end max768px ------- */
@media (min-width : 768px) and (max-width: 1200px){
}

/* --------------------------------------------------------------- min768px to max991px ---------------------- */
@media (min-width : 768px) and (max-width: 991px){
	.default-menu .navbar-brand{  margin: 25px 0 0 0;padding: 0; }
	.default-menu.navbar-default .navbar-nav>li { padding-right: 6px; }
	.default-menu.navbar-default .navbar-nav>li>a { font-size: 10px; }
}
/* -------------------------------------------------------------------- min768px -------------------- */
@media (min-width : 768px){
	.portfolio-edu-text .edu-text-single{ border-right: 1px solid rgba(255, 255, 255, 0.45); }
	.portfolio-edu-text .col-md-6:nth-child(1) .edu-text-single{}
	.portfolio-edu-text .col-md-6:nth-child(3) .edu-text-single{ border-bottom: none; }
	.portfolio-edu-text .col-md-6:nth-child(2) .edu-text-single{ border-right: none; }
	.portfolio-edu-text .col-md-6:nth-child(4) .edu-text-single{ border: none; }
}
/* -------------------------------------------------------------------- max767px -------------------- */
/* -------------------------------------------------------------------------------------------------- */
@media screen and (max-width : 767px) {
	.navbar{ padding: 10px 0; }
	.portfolio-edu-text .col-md-6:nth-child(4) .edu-text-single{ border-bottom: none; }
	.default-menu.affix-top .navbar-brand{ margin-top: 0; }
	.default-menu.affix .navbar-brand{width: 100px;margin-left: 15px !important;}
	.default-menu .navbar { padding: 0 0; }
	.default-menu.affix { padding: 10px 0;}
	.default-menu.affix-top .navbar-brand{margin-left: 15px !important;}
	.category, .recent-post, .archive {max-width: 70%;}
/*------- Menu header Css  -----*/
.navbar-header{padding-top:15px;}
/*------- Css Between Post & Widget -----*/
.search{padding:0;}
.msg_form {padding-bottom: 50px;}
.msg_form h3{padding-top: 0px;}
/*-------Blog Sidebar  -----*/
.pfolio-sidebar{margin-left: 0;margin-top: 0px;}
#post-section{padding: 0 15px;}
}
/* end max767px */
/* --------------------------------------------------------------- max640px ---------------------- */
@media screen and (max-width : 640px) {	
/*------- Menu header Css  -----*/
.logo_title{padding-top:10px;}
/*------- Template Password Css  -----*/
.blog_main_title {font-size: 25px;}
}
/* --------------------------------------------------------------- max480px ---------------------- */ 
@media screen and (max-width : 480px) {
	.copyright-txt li:after{ display: none; }
	/* -------------------------------------------------------------  */
	.portfolio-about-info .pfolio-btn{margin-left: 0;margin-top: 20px;}
	.portfolio-about-info li span{display: block;width: 100%;}
	.portfolio-about-info .s-icon a i{margin-right: 3px;	}
	.portfolio-about-info{padding: 70px 30px;}
	.portfolio-edu-text .edu-text-single{ padding: 45px 0; }
	.portfolio-edu-text .edu-text-single .txt{ padding-left: 10px; }
	.portfolio-blog-single .post-content .social-icons a i{ margin-right: 7px; }
/* ------- comments -----*/
.e_blog_A img{max-width:75%;}
.blog_a_text a{font-size:12px;}
.reply {float: none;padding-top: 10px;}
.blog_a_text {padding-left: 0px;margin-top: 90px;}
.req_field{font-size: 10px;}
/*------- Special Character Css  -----*/
.pfolio-blog-posts tr td{border: 1px solid #ccc; padding:4px 10px;}	
/*-------password title  -----*/
.sticky .post-content{padding:30px;}
/*-------password title  -----*/
.pfolio-blog-posts .post-password-required .post-content h2 a{font-size: 16px;}.pfolio-blog-posts .post-password-required h2 a{font-size: 16px;}
/*-------password input  -----*/
.pfolio-blog-posts input[type="password"]{padding: 5px 25px;}
.pfolio-blog-posts input[type="submit"]{padding: 5px 10px;}
/*------- Author Profile  -----*/
.pfolio-blog-author-profiles a i {font-size: 24px;}
.pfolio-blog-author {padding: 50px 20px 50px 20px;}
/*------- Gallery Item  -----*/
.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item,.gallery-columns-6 .gallery-item,.gallery-columns-7 .gallery-item,.gallery-columns-8 .gallery-item,.gallery-columns-9 .gallery-item{width: 50%;}
.gallery-columns-1 .gallery-item {width: 100%;}
/*------- Banner Title  -----*/
.pfolio-blog-top-content h1 {font-size: 24px;}
/*------- Template Password Css  -----*/
.blog_main_title {font-size: 20px;}
/*========================  Home page Title CSS  =======================*/
.portfolio-skill-sec,#portfolio-about-me,.portfolio-education,.portfolio-portfolio,.portfolio-blog-sec,.portfolio-contact {padding-top: 100px;}
.portfolio-about-info {padding: 50px 30px;margin-top: 80px;}
.portfolio-skill-content {margin-top: 80px;}
.portfolio-experiences {padding: 100px 0;}
.portfolio-exp-single {margin-top: 100px;}	
.portfolio-contact-content{margin-top: 70px;padding-top: 50px;}	
/*========================  Breadcrumb CSS  =======================*/		
#blog-top .breadcrumb a,.portfolio_breadcrumb.breadcrumb li.active{font-size: 12px;}
.main-nav .dropdown-menu{left:-20px;}
}
/* --------------------------------------------------------------- max380px ---------------------- */ 
@media screen and (max-width : 380px) {	
/*------- Special Character Css  -----*/
.pfolio-blog-posts tr td{border: 1px solid #ccc; padding:3px 7px;}
/*-------password title  -----*/
.pfolio-blog-posts .post-password-required .post-content h2 a{font-size: 16px;}
/*-------password & Button Unit test -----*/
.pfolio-blog-posts input[type="submit"]{padding: 5px; display:inline;}
.pfolio-blog-posts input[type="password"]{padding: 5px 40px;display: block;}
/* .pfolio-blog-posts input[type="password"]{padding: 5px;} */
/*------- Author Profile  -----*/
.pfolio-blog-author-profiles a i {font-size: 24px;}
.pfolio-blog-author {padding: 50px 20px 50px 20px;}
/*------- Banner Title  -----*/
.pfolio-blog-top-content h1{font-size: 24px;}
/*------- Template Password Css  -----*/
.blog_main_title {font-size: 16px;}
/*------- comments -----*/
.reply {float: none;padding-top: 10px;}
/*========================  Breadcrumb CSS  =======================*/		
#blog-top .breadcrumb a,.portfolio_breadcrumb.breadcrumb li.active{font-size: 10px;}
}
/* --------------------------------------------------------------- max320px ---------------------- */ 
@media screen and (max-width : 320px) {	
/*------- Special Character Css  -----*/
.pfolio-blog-posts tr td{border: 1px solid #ccc; padding:3px 4px;}
/*-------password title  -----*/
.pfolio-blog-posts .post-password-required .post-content h2 a{font-size: 16px;}
/*-------Blog Sidebar  -----*/
.pfolio-sidebar{margin-left: 0;}
/*------- Author Profile  -----*/
.pfolio-blog-author-profiles a i {font-size: 24px;}
.pfolio-blog-author {padding: 50px 20px 50px 20px;}
/*------- Banner Title  -----*/
.pfolio-blog-top-content h1 {font-size: 24px;}
/*------- Template Password Css  -----*/
.blog_main_title {font-size: 15px;}
/*------- Home blog post content Css  -----*/
.portfolio-blog-single .post-content {padding: 0 25px;}
/*------- Dropdown Menu  Css  -----*/
.main-nav .dropdown-menu{left:-10px;}
}

/*--------------------------------------------------------------------------------------------------
//                                                  The End :)                         
---------------------------------------------------------------------------------------------------- */